html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Minion Pro', sans-serif;
  background-color: map_get($palette, content);

  > .container {
    padding: 30px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1 0 auto;
  max-height: calc(100vh - 56px);
}

.main__container {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: .9rem;
  }

  input {
    width: 100%;
  }
}

.form-group input,
.form-group textarea,
.form-group select {
  @include placeholder(#{map-get($palette, placeholder)});

  padding: 8px 16px;
  font-size: .9rem;
  border: 1px solid #{map_get($palette, border)};
  border-radius: 2px;
  transition: $transition;

  &:hover {
    border: 1px solid #{map_get($palette, border-hover)};
  }

  &:focus,
  &:active {
    color: #{map_get($palette, content)};
    border: 1px solid #{map_get($palette, focus)};
    box-shadow: none;
    outline: none;
  }
}

.page {
  padding: 20px;
  background-color: #26262c;
}

.counter {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-left: auto;
  font-size: 12px;
  color: map_get($palette, placeholder);

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background-color: #d63529;
    border-radius: 50%;
  }
}
