@mixin placeholder($font-color) {
  &::-webkit-input-placeholder {
    color: $font-color;
  }

  &:-ms-input-placeholder {
    color: $font-color;
  }

  &::-moz-placeholder {
    color: $font-color;
  }

  &:-moz-placeholder {
    color: $font-color;
  }

  &:-ms-input-placeholder {
    color: $font-color;
  }
}

@mixin control {
  @include placeholder(#{map-get($palette, placeholder)});

  padding: $size $size * 2 $size $size * 2;
  font-size: 16px;
  line-height: 24px;
  color: #{map-get($palette, content)};
  background-color: map_get($palette, transparent);
  transition: $transition;

  &:hover {
    border-color: #{map-get($palette, transparent)};
  }

  &:focus,
  &:active {
    border-color: #{map-get($palette, transparent)};
  }

  &:hover,
  &:focus {
    background-color: #{map_get($palette, transparent)};
  }

  &[disabled] {
    @include placeholder(#{map-get($palette, placeholder)});

    background: #eaeffc;
    border-color: #{map-get($palette, border-disabled)};
    cursor: default;
  }

  &.filled {
    border-color: #{map-get($palette, border-hover)};
  }
}

@mixin pseudo-element($content) {
  position: absolute;
  content: $content;
  display: block;
}
