// base grid module

$size: 8px;

// z-index

$z-index: (
  'modal',
  'navigation',
  'pseudo',
  'pseudo-back'
);

@function z($name) {
  @if index($z-index, $name) {
    @return (length($z-index) - index($z-index, $name)) + 1;
  }

  @else {
    @return null;
  }
}

// transition

$transition: .3s ease;

// colors

$palette: (
  bg: #fff,
  bg-light: #fafafa,
  bg-dark: #f5f5f5,
  bg-admin: #e3e7ed,
  bg-admin-content: #f8fafc,
  content: #000,
  content-light: #000,
  accent-main: #87927a,
  accent-main-light: #ffb163,
  accent-main-dark: #406b44,
  accent-second: #fff,
  accent-second-light: #eaeaea,
  placeholder: #c1c3c4,
  placeholder-active: #6a6a6a,
  border: #d4d6d7,
  border-hover: #979797,
  border-focus: #3951e7,
  state-default: #3949e7,
  state-success: #38c463,
  state-error: #ff3448,
  state-warning: #ffd22f,
  transparent: transparent,
);

// breakpoints

$grid-breakpoints: (
  lg: 1200px - 1,
  md: 992px - 1,
  sm: 768px - 1,
  xs: 576px - 1
) !default;

@mixin mq($width, $type: max) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);

    @if $type == max {
      $width: $width;
    }

    @media (#{$type}-width: $width) {
      @content;
    }
  }
}

// wrapper max widths start

$default-wrapper-width: 1140px;

$wrapper-max-widths: (
  lg: 960px,
  md: 720px,
  sm: 540px,
  xs: 100%
) !default;

// font-sizes

$font-size: (
  lg: 16px,
  md: 15px,
  sm: 14px,
  xs: 14px
);
