.team {
  &__logo {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      margin: 0;
      font-size: 18px;
      color: map_get($palette, bg);
    }

    &-counter {
      margin: 0;
      font-size: 12px;
      color: map_get($palette, placeholder);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 10px;
    background-color: #18181b;
    overflow-y: scroll;

    &-item {
      display: flex;
      flex: none;
      align-items: center;
      padding: 10px;
      background: none;
      border: none;
      outline: none;

      &:hover {
        background-color: #3a3a3d;
        cursor: pointer;
      }
    }
  }

  &__item {
    &-image {
      max-width: 30px;
      max-height: 30px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &-name {
      margin: 0 0 0 10px;
      font-size: 14px;
      color: map_get($palette, bg);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__banner {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
